<?xml version="1.0" encoding="UTF-8"?>


<suite name = "TestNg datadriver Suite" >

 <!--  Suite name = "Suite Name" -->>

  <listeners>
 <listener class-name= "com.qa.meschino.extentReportListener.Listeners" />
 

 </listeners>
 <suit-files>
   
      
      <suite-file path ="LoginSuite.xml"/>
      <suite-file path ="BloodGlucoseSuite.xml"/>
 <suite-file path ="Hra_MaleSuite.xml"/>   
  </suit-files>


</suite> <!-- Suite -->
